html {
  box-sizing: border-box;
  background:#ffffff;
  font-family:'Lato';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background:rgb(196, 221, 233);
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    /* allows panel to grow a little > than intended and snaps back */
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 15px;
  background-size:cover;
  background-position:center;
  /* evenly distribute space between panels */
  flex: 1;
  display: flex;
  align-items: flex-end;
}


.panel1 { background-image:url(https://static.pexels.com/photos/417489/pexels-photo-417489.jpeg); }
.panel2 { background-image:url(https://static.pexels.com/photos/70953/pexels-photo-70953.jpeg); }
.panel3 { background-image:url(https://i.imgur.com/JW5r99h.jpg); }
.panel4 { background-image:url(https://static.pexels.com/photos/271082/pexels-photo-271082.jpeg); }

/* Flex Items */
.panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  /* stretches content across each flex panel */
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* transforms the first row of panels in and out of page like a switch */
/* .panel > *:first-child { transform: translateY(-100%); } */
/* .panel.open-active > *:first-child { transform: translateY(0); } */

.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
  text-transform: uppercase;
  font-family: 'Lato', cursive;
  text-shadow:0 0 35px rgba(0, 0, 0, 1);
  font-size: 4em;
}

/* .panel p:nth-child(2) {
  font-size: 4em;
} */

.panel.open {
  flex: 5;
  font-size:20px;
}

.button {
  transition: linear 0.5s;
}

.button.inactive {
  opacity: 1;
  transform: translateY(-100%);
}


