html {
  box-sizing: border-box;
  background:#ffffff;
  font-family:'Lato';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background:rgb(255, 255, 255);
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  padding: 0 0.2vw;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    /* allows panel to grow a little > than intended and snaps back */
    font-size 1s cubic-bezier(0.61,-0.10, 0.7,-0.11),
    flex 1s cubic-bezier(0.61,-0.10, 0.7,-0.11),
    background 0.2s;
  font-size: 13px;
  background-size:cover;
  background-position:center;
  flex: 1;
  display: grid;
  grid-template-rows: repeat(5, 20%);
}

.panel1 { background-image:url(https://static.pexels.com/photos/417489/pexels-photo-417489.jpeg); }
.panel2 { background-image:url(https://static.pexels.com/photos/70953/pexels-photo-70953.jpeg); }
.panel3 { background-image:url(https://i.imgur.com/JW5r99h.jpg); }
.panel4 { background-image:url(https://static.pexels.com/photos/271082/pexels-photo-271082.jpeg); }


.panel > .menu {
  grid-row: 5;
  display: flex;
  justify-content: center;
}


.panel p {
  text-transform: uppercase;
  font-family: 'Lato';
  text-shadow:0 0 35px rgba(0, 0, 0, 1);
  font-size: 4em;
}

.panel.active {
  flex: 5;
  padding: 0 6vw;
  font-size: 18px;
}

.panel.active > .menu {
  grid-row: 1;
  justify-content: flex-start;
  align-items: center;
}

.panel.inactive {
  flex: 0;
  padding: 0;
}

.panel.inactive * {
  display: none;
  /* transition: linear 0.5s;
  transform: translateY(200%); */
}

.close-btn {
  display: none;
  position: fixed;
  font-size: 45px;
  top: 20px; right: 50px;
  color: white;
}

.close-btn:hover {
  /* border: 20px solid rgb(134, 134, 134);
  border-radius: 50%; */
}

/* .panel p:nth-child(2) {
  font-size: 4em;
} */


/* Deals with appearing on click */

/* Flex Items */
/* .panel > * {
  margin:0;
  width: 100%;
  transition:transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Deals with appearing on click */
/* .panel.open-active > *:last-child { transform: translateY(0); } */
/* .panel > *:first-child { transform: translateY(-100%); } */
/* .panel.open-active > *:first-child { transform: translateY(0); } */

/* .button {
  transition: linear 0.5s;
}

.button.inactive {
  opacity: 1;
  transform: translateY(-100%);
} */


